{% extends 'base.html' %}

{% block content %}

<section class="row">
  <div class="col-xs-12">
    <div class="form-box">
      {% if item %}
        <form class="form-horizontal"
              method="POST"
              action="{{url_for('item.edit', id=item.id)}}"
              enctype=multipart/form-data>

          <div class="form-group">
            <select name="project">
			  <label>
				Select a project: 
			  </label>
              {% for project in projects %}
                <option value={{project.id}}
                        {% if item.project_fk == project.id %}
                          selected="selected"
                        {% endif %}>
                        {{project.name}}
                </option>
              {% endfor %}
            </select>
          </div>


		  {% if item.kind == 'img' %}
          <div class="form-group">
            <img src="{{item.link}}" class="item-img">
          </div>
		  <div class="form-group">
            <input type="hidden" name="link" value="{{item.link}}">
          </div>
		  {% elif item.kind == 'text' %}
		  <div class="form-group">
			<label for="link">
				Your title
            </label>
			<input type="text" class="form-control" name="link" value="{{item.link}}">
		  </div>
		  {% else %}
	      <div class="form-group">
            <a href="{{item.link}}">{{ item.link }}</a>
          </div>
		  <div class="form-group">
            <input type="hidden" name="link" value="{{item.link}}">
          </div>
		  {% endif %}	
          <div class="form-group">
            <label for="body">
            </label>
            <textarea class="form-control" name="body">{{item.body}}</textarea>
          </div>

          <div class="form-group">
            <label for="tags">
              Enter tags:
            </label>
            <input type="text"
                   class="form-control"
                   name="tags"
                   value="{{item.tags}}">
          </div>

          <div class="form-group">
            <input type="submit" value="Save" class="submit">
          </div>
        </form>
      {% else %}
        <h2>You haven't selected an item</h2>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
