<!-- Show complete category information, edit/delete links if user is owner-->
<div class="category-complete">
  <h2>
    <a href="{{url_for('show_category', category_id=category.id)}}">
      {{category.name}}
    </a>
  </h2>
  <p>{{category.description}}</p>
  <p class="category-public">
    {% if category.public %}
      Public
    {% else %}
      Private
    {% endif %}
  </p>
  {% if 'user_id' in session %}
    {% if session['user_id']== category.user_id %}
    <p class="edit-delete">
      (<a href="{{url_for('edit_category', category_id=category.id)}}">
        Edit
      </a> |
      <a href="{{url_for('delete_category', category_id=category.id)}}">
        Delete
      </a>)
    </p>
    {% endif %}
  {% endif %}
</div>
