{% extends 'base.html' %}

{% block content %}

<section class="row">
  <div class="col-xs-12 headline">
    <h2>Welcome to addtohistory.com</h2>
  </div>
  <div class="col-xs-12">
	This is an online sketchbook for artists. Here you can save your ideas and inspirations, and add them to projects.
  </div>
  <div class="col-xs-12 error">
	WARNING! This app is an alpha version. Your data is not safe here and I can not take any responsibilities for potential damage or loss of data. Any usage is at your own risk. By using this app, you accept that all risk is yours.
  </div>
</section>

{% endblock %}
