<!-- Renders an item with public information -->
<div class="item-box">
  {% include 'userbox.html' %}
  <a href="{{url_for('show_item', item_id=item.id)}}">
    <img src="{{item.link}}" class="item-img">
  </a><br>
  <p>{{item.title}}, {{item.artist}}</p>
  <p>{{item.note}}</p>
  <p>
    <a href="{{url_for('show_category', category_id=item.category.id)}}">
      {{item.category.name}}
    </a>
  </p>
  <div class="edit-delete">
  {% if 'user_id' in session %}
    {% if item.user.id == session['user_id'] %}
    <a href="{{url_for('edit_item', item_id=item.id)}}">
      Edit
    </a> |
    <a href="{{url_for('delete_item', item_id=item.id)}}">
      Delete
    </a>
    {% endif %}
  {% endif %}
  </div>
</div>
