{% extends 'base.html' %}

{% block content %}

<section class="row signup-section">
<div class="col-xs-12 error">
    WARNING! This app is an alpha version. Your data is not safe here and I can not take any responsibilities for potential damage or loss of data. Any usage is at your own risk. By using this app, you accept that all risk is yours.
  </div>
  <div class="col-xs-12">

    <div class="form-box">

       <form class="form-horizontal" method='POST' action="{{url_for('auth.register')}}">

         <div class="form-group">
           <label for="displayname">
             Choose a username (required):
           </label>
           <p class="text-small">
             This username will be displayed with your public posts.
           </p>
           <input type="text" name="displayname" value="{{displayname}}" autocomplete="name" class="form-control">
         </div>

	       <div class="form-group">
           <label for="email">
             Type your e-mail address:
           </label>
           <p class="text-small">
	          Type your e-mail address. Make sure to type it correctly and make sure that you use an address that you have access to. You will be sent a verification e-mail. Accounts that were not verified will not be able to post publicly and will be deleted within 5 days.
           </p>
           <input type="text" name="email" value="{{email}}" autocomplete="username email" class="form-control">
         </div>

         <div class="form-group">
           <label for="picture">
             Enter a link to your profile picture here (beta)
           </label>
           <p class="text-small">
		          Profile pic link. Working on this
           </p>
           <input type="text" name="picture" value="{{picture}}" class="form-control">
         </div>

	       <div class="form-group">
           <label for="password">
             Type your password:
           </label>
           <p class="text-small">
	           Make sure you use a safe password. The risk is all yours.
           </p>
           <input type="password" name="password" autocomplete="password" class="form-control">
         </div>

         <div class="form-group">
           <label for="about">
             Tell us about yourself (optional):
           </label>
           <input type="text" name="description" value="{{description}}" class="form-control">
         </div>

         <div class="form-group">
           <label for="submit" class="disclaimer text-small">
             By clicking submit you agree to the above
           </label>
           <br>
           <input type="submit" value="Register" class="submit">
         </div>

       </form>

    </div>
  </div>
</section>
{% endblock %}
