{% extends 'base.html' %}

{% block content %}

<section class="row signup-section">
  <div class="col-xs-12">

    <div class="form-box">

       <form class="form-horizontal" method='POST' action="{{url_for('auth.register')}}">

         <div class="form-group">
           <label for="username">
             Choose a username (required):
           </label>
           <p class="text-small">
             This username will be displayed with your public posts.
           </p>
           <input type="text" name="username" value="{{username}}" class="form-control">
         </div>

	       <div class="form-group">
           <label for="email">
             Type your e-mail address:
           </label>
           <p class="text-small">
	          Type your e-mail address. Make sure to type it correctly and make sure that you use an address that you have access to. You will be sent a verification e-mail. Accounts that were not verified will not be able to post publicly and will be deleted within 5 days.
           </p>
           <input type="text" name="email" value="{{email}}" class="form-control">
         </div>

         <div class="form-group">
           <label for="picture">
             Enter a link to your profile picture here (beta)
           </label>
           <p class="text-small">
		          Profile pic link. Working on this
           </p>
           <input type="text" name="picture" value="{{picture}}" class="form-control">
         </div>

	       <div class="form-group">
           <label for="password">
             Type your password:
           </label>
           <p class="text-small">
	           Make sure you use a safe password. The risk is all yours.
           </p>
           <input type="password" name="password" class="form-control">
         </div>

         <div class="form-group">
           <label for="about">
             Tell us about yourself (optional):
           </label>
           <input type="text" name="description" value="{{description}}" class="form-control">
         </div>

         <div class="form-group">
           <label for="submit" class="disclaimer text-small">
             By clicking submit you agree to the above
           </label>
           <br>
           <input type="submit" value="Register" class="submit">
         </div>

       </form>

    </div>
  </div>
</section>
{% endblock %}
